.big-button {
  padding: 15px;
  margin: 10px;
  font-size: 1.2em;
  background: grey;
  color: black;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s;
}

.big-button:hover {
  background: white;
  color: grey;
}

select {
  padding: 15px;
  margin: 10px;
  font-size: 1.2em;
  background: grey; /* Fond gris clair */
  color: black; /* Texte gris foncé */
  border: none; /* Bordure fine grise */
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  z-index: 1;
}

select:hover {
  background: white;
  color: grey;
}

p, h1, h2, h3 {
  margin: 5px;
}

.white-border {
  border: 2px solid grey;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
}